:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --gren-strong: #57ce65;
  --gradient: linear-gradient(to bottom, #57ce65, #96c93d);
}

.containerr {
  width: 100%;
/*   background-color: var(--hospital-green); */
  background: var(--gradient);
  background-attachment: fixed;
  display: grid;
  place-items: center;
}
.nombre {
  color: var(--gren-strong);
}

.container-text {
  display: grid;
  place-items: center;
  font-family: "Quicksand", sans-serif;
  color: var(--very-light-pink);
  font-weight: 500;
  font-size: var(--md);
}
.container-form {
  margin-top: 80px;
  border: var(--very-light-pink);
  /* width: 100%; */
}
.loader {
  display: grid;
  place-items: center;
  border: solid black 3px;
}

.container-cards {
  display: grid;
  place-items: center;
  margin-top: 50px;
  grid-template-columns: auto;
}
.cards {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  place-items: center;
  border: solid black 1px;
  margin: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 5px 10px 8px;
  background-color: var(--white);
}
.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .container-cards {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1024px) {
  .container-cards {
    grid-template-columns: auto auto auto;
  }
}
